<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          font-family: Roboto, sans-serif;
          display: grid;
          place-content: center;
          min-height: 100vh;
        }
   
        .user-name {
          font-style: italic;
          font-weight: bold;
        }
   
        .user-pic {
          border-radius: 50%;
          height: 175px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
   
        .user-msg {
          font-size: 24px;
        }
   
      </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>