{% extends 'base.html' %}

{% block body %}
    <h4>Add New Movie</h4>
    <form action="{{ url_for('movies_list.create_movie') }}" method="post" class="add-movie-form">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="poster" placeholder="Poster URL">
        <input type="number" step="0.1" name="rating" placeholder="Rating">
        <textarea name="summary" placeholder="Summary"></textarea>
        <input type="text" name="trailer" placeholder="Trailer URL">
        <button type="submit">Add Movie</button>
    </form>

{% endblock %}
