<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register:</h1>

    <form method="POST" action="">


        <!-- action="" submit to current url -->
        <!-- Validations -->
        {{form.hidden_tag()}}

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div style="color:red">{{error}}</div>
            {% endfor %}
        {% endif %}

        {{form.username.label}}:
        {{form.username(placeholder="Username")}}
        {{form.password.label}}
        {{form.password()}}
        {{form.submit()}}
    </form>
</body>
</html>