<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user %}
    <div class="user-container">
        <img class="user-pic" src="{{ user.pic }}" alt="Profile picture" />
        <p class="user-msg">
            Hello,
            <span class="user-name">
                {{ user.name }} {% if user.pro %}🚀{% else %}🎊🎊{% endif %}
            </span>
        </p>
    </div>
    {% else %}
    <p>User not found</p>
</body>
</html>